.circular-gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.circular-gallery canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
